* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.responsive-layout {
	height: 470px;
	margin-top: 48px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.responsive-layout .mobpages {
	width: 290px;
	border-radius: 20px;
	background-color: #222;
}

.responsive-layout span {
	font-family: 'Montserrat', serif;
	font-weight: bolder;
	font-size: 14px;
	text-overflow: clip;
	color: #00ff0d;
	text-align: end;
}

.responsive-layout .brand-title {
	margin: 4.5px 15px;
}
