* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.responsive-layout {
	height: 470px;
	margin-top: 48px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.responsive-layout .mobpages {
	width: 290px;
	border-radius: 20px;
	background-color: #222;
}

.responsive-layout h4 {
	text-align: center;
	color: #7FFF00;
}

