@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', 'sans-serif';
}


.nav-menu-indicators {
	position: absolute;
	bottom: 66px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background-color: white;
}

.nav-menu-indicators ul {
	display: flex;
	justify-content: center;
	width: 265px;
	position: relative;
	right: 10px;

}
.nav-menu-indicators ul li {
	position: relative;
	right: 10px;
	top: 4px;
	list-style: none;
	z-index: 1;
	height: 25px;
	padding: 0 25px;

}
.nav-menu-indicators ul li a {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	font-weight: 400;
}
.nav-menu-indicators ul li a .icon{
	position: relative;
	display: block;
	line-height: 40px;
	font-size: 1.2em;
	text-align: center;
	transition: 0.5s;
	color: #000;
}
.nav-menu-indicators ul li.active a .icon {
	transform: translateY(-30px);
}

.nav-menu-indicators ul li a .text-menu {
	color: #000;
	position: absolute;
	opacity: 1;  /* = 0*/
	font-size: 0.60em;
	transition: 0.5s;

	opacity: 0;
	transform: translateY(28px);
}

.nav-menu-indicators ul li.active a .text-menu {
	opacity: 1;
	transform: translateY(9px);
}

.indicator-menu {
	position: absolute;
	top: -130%;
	left: 45px;
	width: 50px;
	height: 50px;
	background-color: #8100ff;
	border-radius: 50%;
	border: 6px solid #222;
	transition: 0.5s;
}

.nav-menu-indicators ul li:nth-child(1).active ~ .indicator-menu {
	transform: translateX(calc(69px * 0));
}

.nav-menu-indicators ul li:nth-child(2).active ~ .indicator-menu {
	transform: translateX(calc(69px * 1));
}

.nav-menu-indicators ul li:nth-child(3).active ~ .indicator-menu {
	transform: translateX(calc(69px * 2));
}

