<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="../styles/mobilepage.css" rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap" rel="stylesheet">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<title>RECITRONICK | A empresa de Reciclagem</title>
</head>

<body class="">

	<div class=" responsive-layout">
		<div class="mobilepage-1 mobpages">
			<ul class="header-top">
				<li class="brand-title">RECITRONICK</li>
				<li><span class="material-symbols-outlined icon-hamburguer">
						menu
					</span>
				</li>
			</ul>

			<div class="content-navbar-hamburguer">
				<ul class="items-navbar">
					<input type="text" class=" input-search" placeholder="Pesquisar..."/>
					<li>
						<a href="#">Cadastrar resíduo eletrônico</a>
					</li>
					<li>
						<a href="#">Visualizar e selecionar pontos de coleta</a>
					</li>
					<li>
						<a href="#">Agendar descarte</a>
					</li>

					<li>
						<a href="#">Total de recompensas</a>
					</li>

				</ul>

			</div>
		</div>

		<!--mobile page 2-->
		<div class="mobilepage-2 mobpages">
			<ul class="header-top">
				<li class="brand-title">RECITRONICK</li>
				<li>
					<span class="material-symbols-outlined icon-hamburguer">
						menu
					</span>
				</li>
			</ul>
			<div class="content-navbar-hamburguer">
				<ul class="items-navbar">
					<li>
						<a href="#">Cadastrar resíduo eletrônico</a>
					</li>
					<li>
						<a href="#">Visualizar e selecionar pontos de coleta</a>
					</li>
					<li>
						<a href="#">Agendar descarte</a>
					</li>

					<li>
						<a href="#">Total de recompensas</a>
					</li>

				</ul>

			</div>
		</div>
	</div>


	<script src="../scripts/navigation.js"></script>


</body>

</html>